<div class="container">
    <form novalidate [formGroup]="registrationForm"  (ngSubmit)="onSubmit(registrationForm.value)"> 
      <div class="form-container">
        <div class="form-group">
          <label>First Name:</label>
        <input  type="text" class="form-control" formControlName="firstName" >
        <div class="alert"  *ngIf="registrationForm.get('firstName').touched && registrationForm.get('firstName').hasError('required')"> 
            The First name is required.  
           </div>  
        </div>
        <div class="form-group">
          <label>Country:</label>
        <select class="form-control" formControlName="country"  >
          <option *ngFor="let country of countries" [ngValue]="country.key">{{country.value}}</option>
        </select>
        <div class="alert"  *ngIf="registrationForm.get('country').touched && registrationForm.get('country').hasError('required')"> 
            Country is required.  
           </div> 
        </div>
        <div class="address_block">
          <h5>Adrress:</h5>
          <div formGroupName="address">
            <div class="form-group clearfix">
               <label>Street:</label>
               <input type="text" class="form-control" formControlName="street">
               <div class="alert"  *ngIf="registrationForm.get('address.street').touched && registrationForm.get('address.street').hasError('required')"> 
                  Street is required.  
                </div> 
           </div>
           <div class="address_block">
             <h5>Address2:</h5>
             <div formGroupName="address2">
               <div class="form-group clearfix">
                 <label>Street</label> 
                 <input type="text" class="form-control" formControlName="street">
                 <div class="alert"  *ngIf="registrationForm.get('address.address2.street').touched && registrationForm.get('address.address2.street').hasError('required')"> 
                    Street is required.  
                  </div> 
               </div>
             </div>
            </div>
          </div>
        </div>
        <div class="address_block">
          <h5>Hobby:</h5>
                    <div formArrayName="hobbies">
                      
                        <div *ngFor="let hobby of registrationForm.controls.hobbies.controls; let i = index">
                          <div [formGroupName]="i" >
                            <div class="form-group clearfix">
                            <input type="text" class="form-control column float"placeholder="Name" formControlName="name">
                            
                            <input type="text" class="form-control column float" formControlName="desc">
                            
                            <button class="button buttonAdd" (click)="addHobbies()" type="button">add</button>     
                            <div class="alert"  *ngIf="hobby.controls.name.touched && hobby.hasError('required', 'name')"> 
                                Name is required.  
                              </div>
                              <div class="alert"  *ngIf="hobby.controls.desc.touched && hobby.hasError('required', 'desc')"> 
                                Description name is required.  
                                </div>
                            <button class="button buttonRemove" (click)="removeHobbies(i)" type="button">Remove</button>
                          </div>   
                              
                          </div>
                          
                        </div>
                    
                      </div>
        </div>
        
                      <button type="submit" class="button buttonSave" [disabled]="registrationForm.invalid">Save</button>
             </div>       
         </form>
</div>

